<h2><i class="bi bi-menu-app"></i> จัดการเมนูอาหาร</h2>
<hr />
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <div class="card" style="">
      <div class="card-body">
        <h5 class="card-title">
          เมนูอาหารในร้าน
          <button
            class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#menuModal"
          >
            เพิ่มเมนูใหม่
          </button>
        </h5>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <td>Id</td>
              <td>เมนู</td>
              <td>คำอธิบาย</td>
              <td>ราคา</td>
              <td>ภาพ</td>
              <td>สถานะ</td>
              <td>การกระทำ</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of menuList">
              <td>{{ item["id"] }}</td>
              <td>{{ item["name"] }}</td>
              <td>{{ item["description"] }}</td>
              <td>{{ item["price"] }}</td>
              <td>{{ item["menu_image_path"] + "/" + item["menu_image"] }}</td>
              <td>{{ item["menu_status"] }}</td>
              <td>
                <button class="btn btn-danger btn-sm">
                  <i class="bi bi-trash"></i></button
                >&nbsp;<button
                  class="btn btn-secondary btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#menuModal"
                >
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="menuModal"
  tabindex="-1"
  aria-labelledby="menuModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="menuModal">
          <i class="bi bi-table"></i> แก้ไขข้อมูลเมนูอาหาร
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        [formGroup]="menuForm"
        (ngSubmit)="onSubmitMenu()"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div class="mb-3">
            <label for="menuName" class="form-label">ชื่อเมนูอาหาร</label>
            <input
              id="menuName"
              type="text"
              formControlName="menuName"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  menuForm.get('menuName').invalid &&
                  menuForm.get('menuName').touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                menuForm.get('menuName').invalid &&
                menuForm.get('menuName').touched
              "
            >
              กรุณากรอกข้อมูลชื่อเมนูอาหาร
            </div>
          </div>

          <div class="mb-3">
            <label for="menuPrice" class="form-label">ราคา</label>
            <input
              id="menuPrice"
              type="number"
              formControlName="menuPrice"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  menuForm.get('menuPrice').invalid &&
                  menuForm.get('menuPrice').touched
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                menuForm.get('menuPrice').invalid &&
                menuForm.get('menuPrice').touched
              "
            >
              กรุณากำหนดราคาเมนู
            </div>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">รายละเอียดของเมนู</label>
            <textarea
              name="menuDesc"
              id="menuDesc"
              formControlName="menuDesc"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  menuForm.get('menuDesc').invalid &&
                  menuForm.get('menuDesc').touched
              }"
            ></textarea>

            <div
              class="invalid-feedback"
              *ngIf="
                menuForm.get('menuDesc').invalid &&
                menuForm.get('menuDesc').touched
              "
            >
              กรุณากำหนดรายละเอียดของเมนู
            </div>
          </div>
          <div class="mb-3">
            <label for="menuImg" class="form-label">ภาพประกอบ</label>
            <input
              type="file"
              name="menuImg"
              id="menuImg"
              class="form-control"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            ยกเลิก
          </button>
          <button type="submit" class="btn btn-primary">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>
