nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
<<<<<<< HEAD
  }
=======
  }
  
>>>>>>> 4a06c7c3fbcafd7ab138a03f1135b751d22df535
