<h3>เมนู อาหารคาว</h3>


        <div class="row">
          <div class="col-3">
            <div class="card">
              <div class="text-center">
                <img src="https://s359.kapook.com//pagebuilder/2cc482f6-9e80-488f-9e0a-87103f16b40d.jpg" class="card-img-top" alt="">
              </div>
              <div class="card-body">
                <div class="card-title h5">
                  กระเพราหมู
                </div>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="text-center">
                <img src="https://s359.kapook.com//pagebuilder/9dbc7505-3b39-4b7f-85b4-1c88c2a01e7f.jpg"  class="card-img-top" alt="200">
              </div>
              <div class="card-body">
                <div class="card-title h5">
                  ผักพริกแกง
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="text-center">
                <img src="https://s359.kapook.com//pagebuilder/f08aab92-a04b-4acd-9718-f58f566b476a.jpg" class="card-img-top" alt="200">
              </div>
              <div class="card-body">
                <div class="card-title h5">
                  ผัดผักรวม
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="text-center">
                <img src="https://s359.kapook.com//pagebuilder/7d2111b0-1a61-4196-a0fe-f77eb122612f.jpg" class="card-img-top" alt="200">
              </div>
              <div class="card-body">
                <div class="card-title h5">
                  หมูผัดกระเทียม
                </div>
              </div>
            </div>
          </div>
 <h3>เมนู ของหวาน</h3>
          <div class="row">
            <div class="col-3">
              <div class="card">
                <div class="text-center">
                  <img src="https://files.vogue.co.th/uploads/ffbd060f0ffa962fdb67556bb1fe8cdd.jpg" class="card-img-top" alt="200">
                </div>
                <div class="card-body">
                  <div class="card-title h5">
                    บานอฟฟี่พาย (Banoffee Pie)
                  </div>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <div class="text-center">
                  <img src="https://files.vogue.co.th/uploads/fa8836c0719e8d92150ed4117d9f63d7.jpg"  class="card-img-top" alt="200">
                </div>
                <div class="card-body">
                  <div class="card-title h5">
                    บลูเบอรี่ชีสเค้ก (Blueberry Cheese Cake)
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <div class="text-center">
                  <img src="https://files.vogue.co.th/uploads/cc339e8614e039085b451f97f2e91603.jpg" class="card-img-top" alt="200">
                </div>
                <div class="card-body">
                  <div class="card-title h5">
                    วาฟเฟิล (Waffle)
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <div class="text-center">
                  <img src="https://files.vogue.co.th/uploads/f0deed5b6723df410257b7badec41147.jpg" class="card-img-top" alt="200">
                </div>
                <div class="card-body">
                  <div class="card-title h5">
                    คัสตาร์ดพุดดิ้ง (Custard Pudding) 
                  </div>
                </div>
              </div>
            </div>
  <h3>เครื่องดื่ม</h3>
    <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="text-center">
          <img src="https://img.wongnai.com/p/1920x0/2024/04/09/7d1e43f211a5492381fbbefb29ed3a08.jpg" class="card-img-top" alt="200">
        </div>
        <div class="card-body">
          <div class="card-title h5">
            แอปเปิลไซเดอร์ลาเต้ 
          </div>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="text-center">
          <img src="https://img.wongnai.com/p/1920x0/2023/10/02/81e170c7b11842f5b1b4efc45d904123.jpg"  class="card-img-top" alt="200">
        </div>
        <div class="card-body">
          <div class="card-title h5">
            อะโวคาโดฮันนี่ 
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="text-center">
          <img src="https://img.wongnai.com/p/1920x0/2023/05/30/58c7c71dc69d4e9cba2ed6d02c384960.jpg" class="card-img-top" alt="200">
        </div>
        <div class="card-body">
          <div class="card-title h5">
            ชานมมอลต์ไข่มุก 
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="text-center">
          <img src="https://img.wongnai.com/p/1920x0/2023/05/02/e8e9ea0da70b4b6183e965d77bedef15.jpg" class="card-img-top" alt="200">
        </div>
        <div class="card-body">
          <div class="card-title h5">
            
โอรีโอเฟรปเป้ 
          </div>
        </div>
      </div>
    </div>